{% assign collections_mega_menu = false %}
{% assign linklist_mega_menu = false %}
{% assign linklist_images_menu = false %}

{% for block in section.blocks %}
  {% if block.type == 'collections_mega_menu' %}
    {% if block.settings.collection_item == link.title %}
      {% capture 'collections_mega' %}
      <div class="header__megamenu-wrapper image-ratio-{{ block.settings.image_ratio }}" {{ block.shopify_attributes }}>
        {% for n in (1..6) %}
          {% assign collection = "collection_" | append: n %}
          {% assign collection = block.settings[collection] %}
          {% assign collection = collections[collection] %}
          {% if collection != blank %}
            <a class="header__megamenu-item" href="{{ collection.url }}">
              <div class="header__megamenu-image">
                {% if collection.image %}
                  {{ collection.image | image_url: width: 450 | image_tag: loading: 'eager' }}
                {% elsif collection.products.first and collection.products.first.media != empty %}
                  {{ collection.products.first.featured_media.preview_image | image_url: width: 450 | image_tag: loading: 'eager' }}
                {% else %}
                {% endif %}
              </div>
              <p class="header__megamenu-title collection-title">{{ collection.title }}</p>
            </a>
          {% endif %}
        {% endfor %}
      </div>
    {% endcapture %}
      {% assign collections_mega_menu = true %}
    {% endif %}
  {% elsif block.type == 'linklist_columns' %}
    {% if block.settings.linklist_item == link.title %}
      {% capture 'linklist_columns' %}
        <div class="header__linklist-columns-wrapper" {{ block.shopify_attributes }}>
          <div class="header__linklist-columns-container">
            {% assign linklist_qty = link.links.size %}
            {% for sub_link in link.links limit: 6 %}
             <ul class="header__linklist-columns-list">
                <h5 class="header__linklist-header">
                  <a href="{{ sub_link.url }}">{{ sub_link.title | truncate: 30 }}</a>
                </h5>
                {% for sub_sub_link in sub_link.links %}
                   <li class="header__linklist-item"><a class="header__linklist-link" href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a></li>
                {% endfor %}
            </ul>
            {% endfor %}
          </div>
          <style>
            .header__linklist-columns-list {
              {% if linklist_qty == 3 %}
                min-width: 33.33%;
              {% elsif linklist_qty == 4 %}
                min-width: 25%;
              {% elsif linklist_qty == 5 %}
                min-width: 20%;
              {% elsif linklist_qty == 6 %}
                min-width: 16.6667%;
              {% endif %}
           }
          </style>
        </div>
      {% endcapture %}
      {% assign linklist_mega_menu = true %}
    {% endif %}
  {% elsif block.type == 'linklist_with_images' %}
    {% if block.settings.linklist_images_menu_item == link.title %}
      {% assign totalsubLinks = link.links | size %}
      {% assign basis = 100 | divided_by: totalsubLinks %}
      {% capture 'linklist_images_columns' %}
          <div class="header__linklist-images-wrapper mlv-header__linklist-images-wrapper total-links-{{ totalsubLinks }} image-ratio-{{ block.settings.image_ratio }}" {{ block.shopify_attributes }}>
            <!-- <div class="header__linklist-images-container" {% unless block.settings.put_image_below_the_main_link_title %}{% endunless %}> -->
        <div class="custom-flex-box">
        {% assign myindex = 0 %}
              {% for sub_link in link.links %}
                {% assign myindex = myindex | plus: 1 %}
                 {% if custom_title != blank %}
                    <h5 class="header__linklist-images__title" title="{{ custom_title }}">
                      {{ custom_title }}
                    </h5>
                  {% endif %}
                <ul class="header__linklist-images-list mlv-header__linklist-images-list" style="width:{{ basis }}%" {% comment %} style="flex: 0 0 {{ basis | minus: 3 }}%" {% endcomment %}>
                  <h5 class="header__linklist-images-header" title="{{ sub_link.title }}">
                   <a class="mlv-link" {% unless sub_link.url == "/" %} href="{{ sub_link.url }}" {% endunless%}>{{ sub_link.title }}</a>
                  </h5>

                  {% assign image_position = "featured_image_position_" | append: myindex %}
                    {% if block.settings[image_position] %}
                    

                {% assign custom_image_size = "column_width_" | append: myindex %}
                {% assign custom_image = block.settings[custom_image] %}
                {% assign custom_image_size = block.settings[custom_image_size] %}
                {% assign custom_image = "featured_image_" | append: myindex %}
                {% assign custom_image = block.settings[custom_image] %}
                {% assign custom_title = "featured_image_label_" | append: myindex %}
                {% assign custom_title = block.settings[custom_title] %}
                {% assign custom_url = "image_url_" | append: myindex %}
                {% assign custom_url = block.settings[custom_url] %}
                {% if custom_url %}<a class="header__linklist-images__image-wrapper mlv-header__linklist-images__image-wrapper" {% unless custom_url == "/" or custom_url =="#" %}  href="{{ custom_url }}" {% endunless%} {% if custom_url contains "youtube" %} target="_blank" {% endif %}>{% else %}<div class="header__linklist-images__image-wrapper mlv-header__linklist-images__image-wrapper">{% endif %}
                  <div class="header__linklist-images__image mlv-header__linklist-images__image" title="{{ custom_image.alt }}">
                    {% if custom_image != blank %}
                      
                  <img data-srcset="
                    {{ custom_image | image_url: width: 180 }} 180w, 
                    {{ custom_image | image_url: width: 360 }} 360w, 
                    {{ custom_image | image_url: width: 540 }} 540w, 
                    {{ custom_image | image_url: width: 720 }} 720w, 
                    {{ custom_image | image_url: width: 900 }} 900w, 
                    {{ custom_image | image_url: width: 1080 }} 1080w, 
                    {{ custom_image | image_url: width: 1296 }} 1296w, 
                    {{ custom_image | image_url: width: 1512 }} 1512w, 
                    {{ custom_image | image_url: width: 1728 }} 1728w, 
                    {{ custom_image | image_url: width: 2048 }} 2048w" 
                  alt="{{ custom_image.alt }}"
                    class="{{ custom_image_size }}"
                  data-src="{{ custom_image | image_url: width: 900 }}" 
                  src="{{ custom_image | image_url: width: 900 }}" 
                  loading="eager">

                      
                    {% endif %}
                  </div>
                  {% if custom_url %}</a>{% else %}</div>{% endif %}
                  {% endif %}

                  
                  {% for sub_sub_link in sub_link.links %}
                     {% assign icon_image_url = sub_sub_link.title | replace:" ","-"  %}
                            {% assign final_image = icon_image_url | append: '.png' %}
                            {% assign final_image = final_image | file_img_url:"100x" %}
                            <li class="mlveda-li">
                     <a title="{{ sub_sub_link.title }}" class="header__linklist-images-link custom-flex" {% unless sub_sub_link.url =="#" %} href="{{ sub_sub_link.url }}" {% endunless %} {% if sub_sub_link.url contains "youtube" or sub_sub_link.url contains ".pdf" %} target="_blank" {% endif %}>
                       {% if final_image contains "?v=" %}
                          <div class="mlveda-icons-images" style="background-image:url({{ final_image }})"></div>
                      {% endif %}
                       {{ sub_sub_link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endfor %}
             </div>
              {% for n in (1..4) %}
                {% assign image_position = "featured_image_position_" | append: n %}
                  {% unless block.settings[image_position] %}
             
                {% assign custom_image = "featured_image_" | append: n %}
                {% assign custom_image_size = "column_width_" | append: n %}
                {% assign custom_image = block.settings[custom_image] %}
                {% assign custom_image_size = block.settings[custom_image_size] %}
                {% assign custom_title = "featured_image_label_" | append: n %}
                {% assign custom_title = block.settings[custom_title] %}
                {% assign custom_url = "image_url_" | append: n %}
                {% assign custom_url = block.settings[custom_url] %}
                {% if custom_url %}<a class="header__linklist-images__image-wrapper mlv-header__linklist-images__image-wrapper {{ custom_image_size }}" {% unless custom_url == "/" or custom_url =="#" %}  href="{{ custom_url }}" {% endunless %} {% if custom_url contains "youtube" %} target="_blank" {% endif %}>{% else %}<div class="header__linklist-images__image-wrapper mlv-header__linklist-images__image-wrapper {{ custom_image_size }}">{% endif %}
                    {% if custom_image != blank %}
                  <div class="header__linklist-images__image mlv-header__linklist-images__image" title="{{ custom_image.alt }}">

                    <img srcset="{{ custom_image | image_url: width: 180 }} 180w, {{ custom_image | image_url: width: 360 }} 360w, {{ custom_image | image_url: width: 540 }} 540w, {{ custom_image | image_url: width: 720 }} 720w, {{ custom_image | image_url: width: 900 }} 900w, {{ custom_image | image_url: width: 1080 }} 1080w, {{ custom_image | image_url: width: 1296 }} 1296w, {{ custom_image | image_url: width: 1512 }} 1512w, {{ custom_image | image_url: width: 1728 }} 1728w, {{ custom_image | image_url: width: 2048 }} 2048w" alt="{{ custom_image.alt }}"  src="{{ custom_image | image_url: "_900x" }}" loading="eager">

                   
                      
                  </div>
                    {% endif %}
                  {% if custom_title != blank %}
                    <h5 class="header__linklist-images__title">
                      {{ custom_title }}
                    </h5>
                  {% endif %}
                {% if custom_url %}</a>{% else %}</div>{% endif %}
                {% endunless %}
              {% endfor %}
          </div>
        {% endcapture %}
      {% assign linklist_images_menu = true %}
    {% endif %}
  {% endif %}
{% endfor %}

{% if collections_mega_menu %}
  <li
    class="header__nav__list-item header__nav__dropdown-megamenu has_sub_menu first-level js-doubletap-to-go js-aria-expand"
    data-active-class="navigation__menuitem--active"
    aria-haspopup="true"
    aria-expanded="false"
    role="none"
  >
    <a
      class="header__nav__link dlink first-level js-open-dropdown-on-key mlv-first-level"
      {% unless link.url == '/' or link.url == '#' %}
        href="{{ link.url }}"
      {% endunless %}
    >
      {{ link.title | escape }}
      {% render 'snip-icons',
        wrapper: '.header__nav__link',
        type: 'apollo',
        icon: 'down-carrot',
        classes: 'header__nav__link--icon vib-center',
        size: '6px',
        fill: 'var(--nav-color)',
        hover: 'var(--nav-color)'
      %}
    </a>
    {{ collections_mega }}
  </li>
{% elsif linklist_mega_menu %}
  <li
    class="header__nav__list-item header__nav__dropdown-linklist has_sub_menu first-level mlv-first-level js-doubletap-to-go js-aria-expand"
    data-active-class="navigation__menuitem--active"
    aria-haspopup="true"
    aria-expanded="false"
    role="none"
  >
    <a
      class="header__nav__link dlink first-level mlv-first-level js-open-dropdown-on-key"
      {% unless link.url == '/' or link.url == '#' %}
        href="{{ link.url }}"
      {% endunless %}
    >
      {{ link.title | escape }}
      {% render 'snip-icons',
        wrapper: '.header__nav__link',
        type: 'apollo',
        icon: 'down-carrot',
        classes: 'header__nav__link--icon vib-center',
        size: '6px',
        fill: 'var(--nav-color)',
        hover: 'var(--nav-color)'
      %}
    </a>
    {{ linklist_columns }}
  </li>
{% elsif linklist_images_menu %}
  <li
    class="header__nav__list-item header__nav__dropdown-linklistImages has_sub_menu first-level mlv-first-level js-doubletap-to-go js-aria-expand"
    data-active-class="navigation__menuitem--active"
    aria-haspopup="true"
    aria-expanded="false"
    role="none"
  >
    <a
      class="header__nav__link dlink mytarget-is-fixed first-level mlv-first-level js-open-dropdown-on-key"
      title="{{ link.title | escape }}"
      {% unless link.url == '/' or link.url == '#' %}
        href="{{ link.url }}"
      {% endunless %}
    >
      {{ link.title | escape }}
      {% render 'snip-icons',
        wrapper: '.header__nav__link',
        type: 'apollo',
        icon: 'down-carrot',
        classes: 'header__nav__link--icon vib-center',
        size: '6px',
        fill: 'var(--nav-color)',
        hover: 'var(--nav-color)'
      %}
    </a>
    {{ linklist_images_columns }}
  </li>
{% elsif link.links != blank %}
  {% if section.settings.logo_position == 'above' -%}
    <span class="{% if forloop.rindex <= 3 %}right{% else %}left{% endif %}">
  {%- endif %}
  <li
    class="header__nav__list-item header__nav__dropdown-simple has_sub_menu first-level mlv-first-level js-doubletap-to-go js-aria-expand"
    data-active-class="navigation__menuitem--active"
    aria-haspopup="true"
    aria-expanded="false"
    role="none"
  >
    <a
      class="header__nav__link dlink first-level mlv-first-level js-open-dropdown-on-key"
      {% unless link.url == '/' or link.url == '#' %}
        href="{{ link.url }}"
      {% endunless %}
    >
      {{ link.title | escape }}
      {% render 'snip-icons',
        wrapper: '.header__nav__link',
        type: 'apollo',
        icon: 'down-carrot',
        classes: 'header__nav__link--icon vib-center',
        size: '6px',
        fill: 'var(--nav-color)',
        hover: 'var(--nav-color)'
      %}
    </a>
    <ul class="header__nav__submenu">
      {% for sub_link in link.links %}
        {% if sub_link.links != blank %}
          <li
            data-active-class="dropdown__menuitem--active"
            class="header__nav__list-item is_parent has_sub_menu js-menuitem-with-nested-dropdown js-aria-expand"
            data-active-class="navigation__menuitem--active"
            aria-haspopup="true"
            aria-expanded="false"
            role="none"
          >
            <a
              class="header__nav__link second-level"
              {% unless sub_link.url == '/' or sub_link.url == '#' %}
                href="{{ sub_link.url }}"
              {% endunless %}
            >
              {{ sub_link.title | escape }}
              {% render 'snip-icons',
                wrapper: '.header__nav__link',
                type: 'apollo',
                icon: 'right-carrot',
                classes: 'header__nav__link--icon vib-center',
                size: '7px',
                fill: 'var(--text-color)',
                hover: 'var(--text-color)'
              %}
            </a>
            <ul class="header__nav__sub-sub-menu js-dropdown-nested">
              {% for sub_sub_link in sub_link.links %}
                <li class="header__nav__list-item">
                  <a class="header__nav__link third-level" href="{{ sub_sub_link.url }}">
                    {{ sub_sub_link.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li class="header__nav__list-item">
            <a class="header__nav__link second-level" href="{{ sub_link.url }}">
              {{ sub_link.title | escape }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </li>
  {% if section.settings.logo_position == 'above' %}</span>{% endif %}
{% else %}
  {% if section.settings.logo_position == 'above' -%}
    <span class="{% if forloop.rindex <= 3 %}right{% else %}left{% endif %}">
  {%- endif %}
  <li
    class="header__nav__list-item no-dropdown first-level js-doubletap-to-go js-aria-expand mlv-first-level"
    data-active-class="navigation__menuitem--active"
    aria-haspopup="true"
    aria-expanded="false"
    role="none"
  >
    <a class="header__nav__link dlink first-level mlv-first-level" href="{{ link.url }}">
      {{ link.title | escape }}
    </a>
  </li>
  {% if section.settings.logo_position == 'above' %}</span>{% endif %}
{% endif %}
